<label>Select Subject</label>
<select (change)="getStudents()" [(ngModel)]="subId" class="form-control" >
  <option *ngFor="let item of subjectlst" [value]="item.ID" >{{item.Name}}</option>
</select>



<table class="table table-bordered table-hover">
  <thead>
    <tr>
      
      <th>Student Name</th>
      <th>Student Degree</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of studentSubjectlst">
      <td>{{item.Student.Name}}</td>
      <td><input type="text" class="form-control" [(ngModel)]="item.Degree"/></td>

    </tr>
  </tbody>
</table>
<button (click)="submit()" class="btn btn-success">Submit</button>
<br/> 



